<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
        <meta http-equiv="PRAGMA" content="NO-CACHE">
        <meta http-equiv="Expires" content="-1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>vueshot | Screen Recording + Network & Console logs</title>
        <link type="text/css" rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/png"  href="/static/images/fav_18082020.png">
    </head>
    <body>

        <!-- Main Content -->
        <main>
            <!-- Header -->
            <header class="header">
              <div class="brand" onclick="document.location.href='index.html'">
                <div class="logo-wrapper"><img class="logo-size" src="/static/images/logo_1.svg"></div>
                <div class="brand-name-label">
                  <span class="vue-label">VUE</span>
                  <span class="shot-label">SHOT</span>
                </div>
                <!-- <div class="name-margin-top"><span class="vue-label">VUE</span></div>
                <div style="margin-top: 35px"><span style="margin-left:-27px; font-size: 14px; color: #90a4ae">SHOT</span></div> -->

              </div>
            </header>

            <!-- Hero -->
              <form>
              <div class="Demo Demo--spaced u-ieMinHeightBugFix">
                <div class="Aligner">
                  <div class="Aligner-item Aligner-item--fixed">
                    <div class="welcome-label">Hello {{fullname}},</div>
                    <div class="welcome-label"><span class="step">Step 1 -</span> Please start the VUESHOT Chrome Extension</div>
                    <div class="welcome-label"><span class="step">Step 2 -</span> Type the URL of the webpage you would want to record 
                        (in the input field below) and click "Get Started"</div>
                    <div class="reg-input-wrapper">
                      <input type="hidden" value="{{user_id}}">
                      <input id="url" class="url-name" name="url" type="text" placeholder="Enter desired URL e.g., https://www.example.com">
                      <div id="url-err" class=reg-err>&nbsp;</div>
                    </div>
                    <div class="button-wrapper-1">
                      <button type="button" class="btn align-right">Get Started</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>



        </main>

    </body>
    <script>
      (function() {
        document.querySelector('.btn').addEventListener('click', function() {
            var urlField = document.querySelector('#url').value;
            window.location.href = urlField;
        });
        document.querySelector('#url').addEventListener('click', function() {
            if (document.querySelector('#url').value == "") {
                document.querySelector('#url').value = "https://";
            }
        });
      })()
    </script>
</html>
